# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom
.buildlog
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# VS Code
.vscode/

# Local configuration
android/local.properties

# Keystore
*.jks
key.properties

# Build outputs
*.apk
*.aab
*.AAB
*.ipa
*.xcarchive

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# Temporary files created by Flutter to diagnose issues
*.dill
*.dill.track.dill

# Package artifacts
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
